img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 768px;
    width: auto; /* ie8 */
    margin-right: auto;
    margin-left: auto;
}

.photo-album {
    position: absolute;
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
    text-align: right;
    font-size: 2em;
    background: rgba(75, 75, 75, .5);
    padding: 2px 6px 2px 4px;
    border-radius: 5px;
    color: rgba(255, 255, 255, .5);
    bottom: 35px;
    right: 10px;
    margin-right: auto;
    margin-left: auto;
}

.photo-time {
    position: absolute;
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
    text-align: right;
    background: rgba(75, 75, 75, .5);
    padding: 2px 6px 2px 4px;
    border-radius: 5px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, .5);
    bottom: 10px;
    right: 10px;
    margin-right: auto;
    margin-left: auto;
}

.photo-description {
    /*position: fixed;*/
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
    color: #fff;
    top: 5px;
    left: 5px;
}

.fade-enter {
    opacity: 0;
}
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transition-property: opacity;
	transition-duration: 1000ms;
	transition-timing-function: linear;
}
.fade-leave {
	opacity: 0;
        transition-property: opacity;
	transition-duration: 1000ms;
	transition-timing-function: linear;
}
.fade-leave.fade-leave-active {
	opacity: 0;
}


.fader-enter {
    opacity: 0;
    /*transform:   translate(-150px,-150px);*/
}
.fader-enter.fader-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
        transform:   translate(0,0);
	transition-property: transform, opacity;
	transition-duration: 1000ms;
	transition-timing-function: linear;
}
.fader-leave {
	opacity: 0;
        transition-property: opacity;

	transition-duration: 1000ms;
	transition-timing-function: linear;
}
.fader-leave.fade-leave-active {
	opacity: 0;
}



.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}