@font-face {
  font-family: 'digital';
  src: url('../fonts/ds-digib.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital7';
  src: url('../fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}